@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@font-face {
	font-family: 'Sunday';
	src: url('../fonts/ofont.ru_Sunday.eot');
	src: local('☺'), url('../fonts/ofont.ru_Sunday.woff') format('woff'), url('../fonts/ofont.ru_Sunday.ttf') format('truetype'), url('../fonts/ofont.ru_Sunday.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "nullstyle.scss";

body {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    *li {
        list-style: none;
    }
    *a {
        color: #070707;
        transition-property: color;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        &:hover {
            color: #47D5F5;
        }
    }
    h1 , h2, h3 {
        display: block;
        font-size: 32px;
        font-weight: 300;
        color: #002200;
        line-height: 41px;
    }
    h1 {
        font-family: Sunday;
        font-size: 60px;
        line-height: 78px;
        width: 276px;
    }
    h3 {
        text-align: center;
        font-size: 28px;
    }
    .btn {
        font-size: 20px;
        color: #FFFFFF;
        background: #019533;
        border-radius: 50px;
        width: 225px;
        height: 64px;
        transition-property: background;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        &:hover {
            background: #30C323;
        }
        &:active {
            background: #185A0D;
        }
    }
    .header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 5px;
        max-width: 1216px;
        height: 70px;
        .header-logo {
            height: 52px;
            width: 33%;
            .header-logo__item {
                height: 52px;
            }
        }
        .social__list, .nav-main__list {
            color: #070707;
            display: flex;
            gap: 20px;
        }
        .social__link {
            color: #999999;
            &:hover {
                color: #47D5F5;
            }
        }
        .telephone {
            .telephone__link {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    .intro {
        max-width: 1920px;
        height: 600px;
        margin: 0 auto;
        background: url("../img/background-intro.png") center no-repeat;
        padding-top: 100px;
        .intro__wrap {
            margin: 0 auto;
            max-width: 1016px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .intro__h2 {
            width: 276px;
        }

    }
    .about {
        max-width: 1216px;
        margin: 0 auto;
        height: 456px;
        .about__title {
                padding: 20px 0 40px;
        }
        .about__box {
            max-width: 1216px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 320px;
        }
        .about__item {
            width: 490px;
            height: 150px;
            display: flex;
            gap: 40px;
        }
        img {
            width: 100px;
            height: 100px;
        }
        p {
            width: 350px;
            line-height: 24px;
        }
    }
    .works {
        .works__title {
        padding: 55px 0 20px;
        }
        margin: 0 auto;
        max-width: 1920px;
        height: 1470px;
        background: url("../img/gallery_back.png") center no-repeat;
        .works__box {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-content: space-around;
            width: 1120px;
            height: 1251px;
        }
        .works__item {
        margin: 15px;
        width: 250px;
        height: 387px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: #FFFFFF;
        box-shadow: 0 14px 28px rgba(0,0,0,0.0), 0 10px 10px rgba(0, 0, 0, 0.0);
        transition-duration: 0.15s;
        &:hover {
            -webkit-transform: scale(1.09);
            -ms-transform: scale(1.09);
            transform: scale(1.09);
            box-shadow: 0 14px 28px rgba(0,0,0,0.03), 0 10px 10px rgba(0, 0, 0, 0.02);
        }
        p {
            margin: 5px 0 5px 10px;
        }
        .price {
            font-size: 20px;
            font-weight: 500;
        }
        .works__btn {
            width: 109px;
            height: 46px;
            font-size: 16px;
            color: #070707;
            background: #FFFFFF;
            border: 2px solid #185A0D;
            margin: 15px 0 30px 10px;
            transition-property: border;
            border-radius: 50px;
            &:hover {
                border: 4px solid #30C323;
            }
            &:active {
                border: 4px solid #269014;
            }
        }
        }
        .works__text {
            margin: 15px;
            width: 780px;
            height: 300px;
            padding: 60px 0px 0px 120px;
            p {
                width: 508px;
                height: 102px;
            }
        }
    }
    .care {
        max-width: 1216px;
        margin: 0 auto;
        height: 356px;
        .care__title {
            padding: 20px 0 40px;
        }
        .care__box {
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between; 
        }
        .care__item {
            width: 186px;
            height: 193px;
            img{
                padding: 0 43px;
            }
            p {
                text-align: center;
                padding: 20px 0 0 0;
            }
        }
    }
    .reviews{
        max-width: 1920px;
        height: 466px;
        margin: 0 auto;
        background: #eee;
        .reviews__title {
            padding: 40px 0 15px;
            }
        .reviews__slider {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 1100px;
            padding: 0 80px;
        .arrow {
            color: #FFFFFF;
            .img__left {
                filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
                transition-duration: 0.1s;
                &:active {
                    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07));
                } 
            } 
            .img__right {
                filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
                transition-duration: 0.1s;
                &:active {
                    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07));
                } 
            } 
        }
        .gallery {
            margin: 0 auto;
            width: 820px;
            overflow: hidden;
        }
        ul {
            width: 9999px;
            transition: margin-left 330ms;
            font-size: 0;
        }
        li {
            display: inline-block;
            padding: 25px 10px 0;
            img {
                display:block;
                box-shadow: 0 8px 13px rgba(0,0,0,0.05), 0 3px 6px rgba(0, 0, 0, 0.04);
            }
        }
        }
    }
    .order {
        max-width: 1920px;
        margin: 0 auto;
        height: 840px;
        background: url("../img/order_back.jpg") right no-repeat;
        .order__box {
            max-width: 1216px;
            margin: 0 auto;
            .form__title {
                padding: 60px 0 40px;
                text-align: start;
            }
            .order__form {
                height: 420px;
                width: 550px;
                .form__item {
                    padding: 2.5px 5px;
                }
                .form__input {
                    width: 400px;
                    height: 33px;
                    text-indent: 10px;
                    border: none;
                    border-bottom: 2px solid #EFEFEF
                    ;
                    background-color: transparent;
                    color: inherit;
                    outline: none;
                }
                .form__btn {
                    margin: 40px 0 0 5px;
                    width: 402px;
                    height: 60px;
                }
            }
            .order__delivery {
                height: 420px;
                width: 550px;
                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer {
        max-width: 1920px;
        margin: 0 auto;
        background-color: #002200;
        .footer-box {
            padding: 0 10px 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            max-width: 1216px;
            height: 120px;
            .footer-social__list {
                color: #070707;
                display: flex;
                gap: 20px;
            }
            .footer-social__link {
                color:white;
                &:hover {
                    color: #47D5F5;
                }
                height: 47px;
            }
            .contacts {
                text-align: end;
                color: #FFFFFF;
                a {
                    color: #FFFFFF;
                    font-weight: 300;
                    font-size: 28px;

                    &:hover {
                        color: #47D5F5;
                    }
                }
                p {
                    font-size: 16px;
                    padding: 10px 0 0 0;
                }
                .email__link {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}

